<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dreamwingz</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Taviraj&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="icon" href="img/favicon.png" type="image" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <nav>
            <input type="checkbox" id="show-search">
            <input type="checkbox" id="show-menu">
            <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
            <div class="content">
                <div><a href="/"><img src="img/logo.png" alt="" class="logo"></a></div>
                <ul class="links">
                    <li>
                        <a href="#" class="desktop-link">Solutions</a>
                        <input type="checkbox" id="show-features">
                        <label for="show-features">Solutions</label>
                        <ul>
                            <li><a href="#">Drop Menu 1</a></li>
                            <li><a href="#">Drop Menu 2</a></li>
                            <li><a href="#">Drop Menu 3</a></li>
                            <li><a href="#">Drop Menu 4</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Success Stories</a></li>
                    <li><a href="#">Our Methods</a></li>
                    <li>
                        <a href="#" class="desktop-link">Services</a>
                        <input type="checkbox" id="show-services">
                        <label for="show-services">Services</label>
                        <ul>
                            <li><a href="#">Drop Menu 1</a></li>
                            <li><a href="#">Drop Menu 2</a></li>
                            <li><a href="#">Drop Menu 3</a></li>
                            <!-- <li>
                                <a href="#" class="desktop-link">More Items</a>
                                <input type="checkbox" id="show-items">
                                <label for="show-items">More Items</label>
                                <ul>
                                    <li><a href="#">Sub Menu 1</a></li>
                                    <li><a href="#">Sub Menu 2</a></li>
                                    <li><a href="#">Sub Menu 3</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="desktop-link">About Us</a>
                        <label for="show-about">About Us</label>
                    </li>
                    <li><a href="" class="desktop-link">Talk to Us!</a>
                        <input type="checkbox" id="show-contact">
                        <label for="show-contact">Talk to Us!</label>
                        <ul>
                            <li><a href="/contact-student">Student</a></li>
                            <li><a href="/contactorg">Organization</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    <div class="header">
        <div class="left-text">
            <div class="title">Who Are We.</div>
            <div class="para">
                We help your business by transforming individuals through our impactful methods
            </div>
        </div>
        <div class="img1">
            <img src="img/meeting.png" alt="">
        </div>
    </div>
    <div class="head1">
        <span class="dash" style="margin-right: 1.8vw; color: black;">
            -------
        </span>
        <span style="color: black;">What Is Corporate Training</span>
        <span class="dash" style="color: black;">
            -------
        </span>
        <div>
            <div class="sub1">
                System of activities designed to educate employees
            </div>
            <div class="sub2">
                Obtain knowledge and hone skills to progress professionally and personally
            </div>
            <div class="sub3">
                Provides Cooperation, Competence and a skilled workforce
            </div>
        </div>
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/FjUjZiP6Ob0" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="clients">
            <div class="title2">
                <span class="dash" style="margin-right: 1.8vw; color: black;">
                    -------
                </span>
                Our Clients
                <span class="dash" style="color: black;">
                    -------
                </span>
                <div class="logos">
                    <div class="logo1">
                        <img src="img/google-logo-9808.png" alt="">
                    </div>
                    <div class="logo1">
                        <img src="img/Accenture_logo_PNG1.png" alt="" style="height: 8vw; width: 12vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/IRCTC_Logo.svg" alt="">
                    </div>
                    <div class="logo1">
                        <img src="img/ranbaxy.png" alt="" style="height: 4vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/datasoft.png" alt="" style="height: 5vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/cipla.png" alt="" style="height: 4vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/ircon.jpg" alt="" style="height: 4vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/SeekPng.com_coca-cola-logo-png_8616.png" alt="" style="height: 7vw; width: 7vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/fortis.jpg" alt="" style="height: 4vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/indianoil.png" alt="" style="height: 8vw; width:8vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/pnb.svg" alt="" style="height: 6vw; width: 13vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/boi.jpg" alt="" style="height: 4vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/Pidilite (1).png" alt="" style="height: 6vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/united-india.png" alt="" style="height: 8vw; width: 8vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/pngwing.com.png" alt="" style="height: 6vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/nestle.png" alt="" style="height: 5vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <div class="logo1">
                        <img src="img/genpact.png" alt="" style="height: 5vw; width: 12vw; margin-bottom: 1vw;">
                    </div>
                    <!-- <div class="logo1">
                    <img src="img/securitas.png" alt="" style="height: 5vw; width: 12vw; margin-bottom: 1vw;">
                </div>
                <div class="logo1">
                    <img src="img/xpressbees.png" alt="" style="height: 5vw; width: 16vw; margin-bottom: 1vw;">
                </div>
                <div class="logo1">
                    <img src="img/dtdc.png" alt="" style="height: 4vw; width: 16vw; margin-bottom: 1vw;">
                </div> -->

                </div>
            </div>
        </div>
        <div class="cards">
            <div class="title2" style="margin-bottom: 3vw; color: white;">
                <span class="dash" style="margin-right: 1.8vw; color: white;">
                    -------
                </span>
                Our Solutions
                <span class="dash" style="color: white;">
                    -------
                </span>
            </div>

            <div class="Card">
                <div>
                    <p style="margin-top: 3vw;">
                        Corporate Training
                    </p>
                </div>
            </div>
            <div class="Card">
                <div>
                    <p>
                        Behavioural and Domain Training
                    </p>
                </div>
            </div>
            <div class="Card">
                <div>
                    <p style="margin-top: 3vw;">
                        Talent Resourcing
                    </p>
                </div>
            </div>
            <div class="Card">
                <div>
                    <p style="margin-top: 3vw;">
                        Curated Skills Programs
                    </p>
                </div>
            </div>
            <div class="Card">
                <div>
                    <p>
                        Creating Inclusive Workforce
                    </p>
                </div>
            </div>
            <div class="Card">
                <div>
                    <p style="margin-top: 3vw;">
                        Training Programs
                    </p>
                </div>
            </div>
        </div>
        <footer>
            <div class="soln">
                <a href="">
                    <div class="tit1">
                        Our Solutions
                    </div>
                </a>
                <a href="">
                    <div class="sol1">
                        Corporate Training
                    </div>
                </a>
                <a href="">
                    <div class="sol1">
                        Behavioural and Domain Training
                    </div>
                </a>
                <a href="">
                    <div class="sol1">
                        Talent Resourcing
                    </div>
                </a>
                <a href="">
                    <div class="sol1">
                        Curated Skills Programs
                    </div>
                </a>
                <a href="">
                    <div class="sol1">
                        Creating Inclusive Workforce
                    </div>
                </a>
                <a href="">
                    <div class="sol1">
                        Training Programs
                    </div>
                </a>
            </div>
            <div class="why">
                <a href="">
                    <div class="tit1">
                        Why Choose Us
                    </div>
                </a>
                <a href="">
                    <div class="ans">
                        Our Approach
                    </div>
                </a>
                <a href="">
                    <div class="ans">
                        Careers
                    </div>
                </a>
                <a href="">
                    <div class="ans">
                        Impact Stories
                    </div>
                </a>
            </div>
            <div class="contacts">
                <a href="">
                    <div class="tit1">
                        Get In Touch
                    </div>
                </a>
                <a href="">
                    <div class="detail">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        admin@dreamwingz.com
                    </div>
                </a>
                <a href="">
                    <div class="detail">
                        <i class="fa fa-phone"></i>
                        98765432109
                    </div>
                </a>
                <a href="">
                    <div class="detail" style="text-decoration: underline; text-underline-offset: 0.4vw">
                        Talk to Us!
                    </div>
                </a>
            </div>
        </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

</script>

</html>